service:
  tesPort: 80
  tesHostname: RUNTIME_PARAMETER
  enableIngress: false

config:
  coaNamespace: RUNTIME_PARAMETER
  resourceGroup: RUNTIME_PARAMETER
  azureServicesAuthConnectionString: RUNTIME_PARAMETER
  applicationInsightsAccountName: RUNTIME_PARAMETER
  azureOfferDurableId: MS-AZR-0003p
  batchAccountName: RUNTIME_PARAMETER
  batchNodesSubnetId: RUNTIME_PARAMETER
  blobxferImageName: RUNTIME_PARAMETER
  disableBatchNodesPublicIpAddress: RUNTIME_PARAMETER
  disableBatchScheduling: RUNTIME_PARAMETER
  dockerInDockerImageName: RUNTIME_PARAMETER
  usePreemptibleVmsOnly: RUNTIME_PARAMETER
  useLegacyBatchImplementationWithAutopools: "False"
  gen2BatchImageOffer: RUNTIME_PARAMETER
  gen2BatchImagePublisher: RUNTIME_PARAMETER
  gen2BatchImageSku: RUNTIME_PARAMETER
  gen2BatchImageVersion: RUNTIME_PARAMETER
  gen1BatchImageOffer: RUNTIME_PARAMETER
  gen1BatchImagePublisher: RUNTIME_PARAMETER
  gen1BatchImageSku: RUNTIME_PARAMETER
  gen1BatchImageVersion: RUNTIME_PARAMETER
  batchNodeAgentSkuId: RUNTIME_PARAMETER
  batchPoolRotationForcedDays: "7"
  batchPrefix: RUNTIME_PARAMETER
  marthaUrl: RUNTIME_PARAMETER
  marthaKeyVaultName: RUNTIME_PARAMETER
  marthaSecretName: RUNTIME_PARAMETER
  globalStartTaskPath: /configuration/start-task.sh
  batchManagedIdentity:
  letsEncryptEmail: RUNTIME_PARAMETER

tesDatabase:
  serverName: RUNTIME_PARAMETER
  serverNameSuffix: RUNTIME_PARAMETER
  serverPort: RUNTIME_PARAMETER
  serverSslMode: RUNTIME_PARAMETER
  databaseName: RUNTIME_PARAMETER
  databaseUserLogin: RUNTIME_PARAMETER
  databaseUserPassword: RUNTIME_PARAMETER

images:
  tes: RUNTIME_PARAMETER

defaultContainers:
  - configuration
  - inputs
  - outputs

externalSasContainers:
  - accountName: datasettestinputs
# [SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine", Justification="Public example, not confidential")]
    sasToken: "sv=2018-03-28&sr=c&si=coa&sig=nKoK6dxjtk5172JZfDH116N6p3xTs7d%2Bs5EAUE4qqgM%3D"
    containerName: dataset

persistence:
  blobPvcSize: 32Gi
  cromwellTmpSize: 32Gi
  storageAccount: RUNTIME_PARAMETER

identity:
  name: RUNTIME_PARAMETER
  resourceId: RUNTIME_PARAMETER
  clientId: RUNTIME_PARAMETER
