name: Format check on pull request
on: pull_request
jobs:
  dotnet-format:
    runs-on: ubuntu-latest

    steps:     
      - name: Azure login
        uses: azure/login@v1
        with:
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
          
      - name: Check out code
        uses: actions/checkout@v3.3.0

      - name: Run dotnet format
        shell: bash
        run: |
            dotnet format --verify-no-changes --verbosity detailed
