name: dotnet restore/build/test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Delete nuget.config
      run: rm nuget.config
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity diag --filter "FullyQualifiedName=TesApi.Tests.BatchSchedulerTests.QueryStringsAreRemovedFromLocalFilePathsWhenCommandScriptIsProvidedAsFile" --logger "console;verbosity=diag"
